/* 
    Document   : main
    Created on : Mar 9, 2013, 9:28:48 AM
    Author     : Christopher Manglos
    Description:
        Purpose of the stylesheet follows.
*/

root { 
}
ul{
    list-style-type:none;
    display: block;
    width: 100%;
    background: #98bf21;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
}

/* links */
a.navbar:link,a.navbar:visited{
    display:block;
    width:150px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a.navbar:hover,a.navbar:active{
    background-color:#7A991A;
}
a.banner:link,a.banner:visited{
    display:block;
    width:100px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#BEBEBE;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a.banner:hover,a.banner:active{
    background-color:#007BFF; 
}
a.leaderboard:link,a.leaderboard:visited{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#C2DB72;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a.leaderboard:hover,a.leaderboard:active{
    background-color:#98bf21;
}
a.leaderboard-alt:link,a.leaderboard-alt:visited{
    display:block;
    font-weight:bold;
    color:#007BFF;
    background-color:#E5F0C2;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a.leaderboard-alt:hover,a.leaderboard-alt:active{
    background-color:#C2DB72;
}

/* tables */
table.leaderboard {
    border: 1px solid #666;
    margin: 20px 0 20px 0 !important;
}

th, td {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
}
tr.leaderboard{
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    background-color:#C2DB72;
}
tr.leaderboard-alt{
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    background-color:#E5F0C2;
}

table.game {
    
    margin: 20px 0 20px 0 !important;
    
}
hr.game{
    color: #FFFFFF;
    background-color: #FFFFFF;
    height: 2px;    
}
th.game, td.game {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
}
th.game{
    padding: 2px 4px 2px 4px !important;
    text-align: left;
}
th.game-alt{
    border: 1px solid #666;
    padding: 2px 4px 2px 4px !important;
    text-align: left;
}

/* text */
p.game{
    font-family: "Time New Roman";
    border: 1px solid #666;
    padding: 2px 4px 2px 4px !important;
    background-color: #FFFFFF
}
p.game:hover{
    border: 1px solid #666;
    background-color: #007BFF;
    color: #ffffff;
}